rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /exchanges/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'sibinimigjc@gmail.com');
      allow delete: if request.auth != null && request.auth.token.email == 'sibinimigjc@gmail.com';
    }
    match /internal/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'sibinimigjc@gmail.com');
    }
    match /config/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'sibinimigjc@gmail.com';
    }
    match /branding/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'sibinimigjc@gmail.com';
    }
    match /profiles/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
